---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);


// Our variables
$light-green: #dfefdc;
$base-font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
$alt-font-family: $base-font-family;
$font-size-base:   16px !default;
$grey-color: #828282;
$grey-color-dark: darken($grey-color, 25%);
$brand-primary: darken($grey-color-dark, 6.5%) !default; // #337ab7
$brand-success: darken($light-green, 28%);


$navbar-height:                    50px !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #999 !default;
$navbar-default-bg:                $light-green !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:          darken($light-green, 10%) !default;
$navbar-default-toggle-icon-bar-bg:        darken($light-green, 35%) !default;
$navbar-default-toggle-border-color:       darken($light-green, 35%) !default;

// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;
// $light-green: #dfefdc;

// $brand-primary: darken($grey-color-dark, 6.5%) !default; // #337ab7

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap",
        "base",
        "theme"
;

.navbar-brand {
  padding:5px;
  img {
    height: 100%;
    margin-top: 5px;
  height: 80%;
  }
}

// .modal-dialog {
//   width: 100%;
//   height: 100%;
//   padding: 0;
// }

// .modal-content {
//   height: 100%;
//   border-radius: 0;
// }


html, body.sign-up {
  background:white;
}

@import 'navigation'
