<div class="anim-slide-left">
<form  id="typeForm" name="typeForm" data-ng-submit="typeSubmit(typeForm.$valid)">
<div class="form-content">
  <div class="form-group">
    <span class="lead">
      <span data-bind-html-compile="messageStrings.typeSelectionPre"></span>
        <select data-ng-model="account.type" data-ng-options="option.value as option.type for option in typeOpts">
        </select>
        <span data-bind-html-compile="messageStrings.typeSelectionPost"></span>
    </span>
    </div>
  </div>
  <div class="form-group well well-sm text-right">
    <input type="submit" class="btn btn-lg btn-primary fa-input" value="Next &#xf178;">
  </div>
  </form>
</div>
