---
layout: default
title: About us!
section: home
---

<div class="home">
<section id="services" class="content">
    <!-- Container -->
    <div class="container ">
        <!-- Section Title -->
        <div class="section-title">
            <h1>{{site.data.sections.whycompost.heading}}</h1>
            <span class="border"></span>
            <p class="lead">{{site.data.sections.whycompost.text}}</p>
        </div>
        {% include components/faq.html site='site' faqtype='compostfaq' display='grid' %}
    </div>
    <!-- Container -->
</section>
<!--/Section -->
<!--/Section -->
<section id="why-a-workers-co-op" class="content">
    <!-- Container -->
    <div class="container">
        <!-- Section Title -->
        <div class="section-title">
            <h1>{{site.data.sections.whycoop.heading}}</h1>
            <span class="border"></span>
            <p class="lead">{{site.data.sections.whycoop.text}}</p>
        </div>
        {% include components/faq.html site='site' faqtype='coopfaq' display='accordion' %}
    </div>
    <!-- Container -->
</section>
</div>
