---
layout: default
section: home
---
{% include home.html %}
<div class="home">

<!--/Navigation -->
    <!--/Section -->
    <section id="we-are-newave" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.about.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.about.text}}</p>
            </div>
            <!-- Button trigger modal -->

            <!--/Section Title -->
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="we-love-technology" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.faq.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.faq.text}}</p>
            </div>
            <!--/Section Title -->
            {% include components/faq.html site='site' type='general' display='grid' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="services" class="content">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>Why Compost?</h1>
                <span class="border"></span>
                <p class="lead">The United States EPA estimates that as much as 24% of all household waste is compostable. When food scraps are sent to landfills their decomposition process produces methane, a greenhouse gas twenty times more damaging to the o-zone than carbon dioxide. By diverting these food scraps away from land fills and into nutrient rich soil amendments we can help restore soil health, advance the work of local food production, and reduce our ecological footprints.
                </p>
            </div>
            {% include components/faq.html site='site' type='compost' display='grid' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="why-a-workers-co-op" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>Why A Workers’ Co-Op?</h1>
                <span class="border"></span>
                <p class="lead">Rust Belt Riders Composting believes in the value of workers across all sectors and our respect for work manifests itself in the belief that all employees ought to share in the success of the company. For us, this takes shape in the form ofworker-ownership. All employees are co-owners, making decisions with one another to best meet the needs of our employees, the community, and the planet.</p>
            </div>
            {% include components/faq.html site='site' type='coop' display='accordion' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!-- Parallax Section -->
    <div id="contact" class="parallax" style="background-image: url(http://rustbeltriderscomposting.com/wp-content/uploads/2014/05/Rust-Belt-Riders_Header_Final2.jpg); background-position: 50% 359px;">
        <div class="no-overlay">
            <div class="container ">
              {% include contact.html %}
            </div>
        </div>
    </div>

</div>
