---
layout: default
section: home
---
{% include home.html %}
<div class="home">

<!--/Navigation -->
    <!--/Section -->
    <section id="we-are-newave" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.about.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.about.text}}</p>
            </div>
            <!-- Button trigger modal -->

            <!--/Section Title -->
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="we-love-technology" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.faq.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.faq.text}}</p>
            </div>
            <!--/Section Title -->
            {% include components/faq.html site='site' type='general' display='grid' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="services" class="content">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.whycompost.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.whycompost.text}}</p>
            </div>
            {% include components/faq.html site='site' type='compost' display='grid' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="why-a-workers-co-op" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>{{site.data.sections.whycoop.heading}}</h1>
                <span class="border"></span>
                <p class="lead">{{site.data.sections.whycoop.text}}</p>
            </div>
            {% include components/faq.html site='site' type='coop' display='accordion' %}
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!-- Parallax Section -->
    <div id="contact" class="parallax" style="background-image: url('images/header.jpg'); background-position: 50% 359px;">
        <div class="no-overlay">
            <div class="container ">
              {% include contact.html %}
            </div>
        </div>
    </div>

</div>
