---
layout: default
---

<div class="home">

<!--/Navigation -->
    <!--/Section -->
    <section id="we-are-newave" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>About</h1>
                <span class="border"></span>
                <p>We are a fee for service waste removal program available to Cleveland residents. We provide an easy way for your home to reduce its carbon footprint while supporting the ongoing efforts of community gardens in your neighborhood.</p>
            </div>
            <!-- Button trigger modal -->
            {% include enrollment.html %}
            <!--/Section Title -->
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="payments" class="content">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>Pricing</h1>
                <span class="border"></span>
                <p></p>
            </div>
            <!--/Section Title -->
            <p style="text-align: center;"><a title="Weekly Pickup" href="http://rustbeltriderscomposting.com/product/weekly-pickup/">Weekly Pickup<br>
$20/month</a></p>
            <p>
                <br>
            </p>
            <p style="text-align: center;"><a title="Bi Weekly Pickup" href="http://rustbeltriderscomposting.com/product/the-rbr-standard/">Bi-Weekly Pickup<br>
$10/month</a></p>
            <p>
                <br>
            </p>
            <p style="text-align: center;"><a title="Monthly Pickup" href="http://rustbeltriderscomposting.com/product/monthly-pickup/">Monthly Pickup<br>
$5/month</a></p>
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="we-love-technology" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>FAQ</h1>
                <span class="border"></span>
                <p>Here are some typical questions that we get about composting and our services.</p>
            </div>
            <!--/Section Title -->
            <ul class="technology row">
              {% for faq in site.categories.faq %}
                <div class="col-md-4 text-align-left">
                    <li class="element_fade_in" style="opacity: 1; right: 0px;">
                        <h5>{{faq.title}}</h5>
                        <p>{{faq.content}}</p>
                    </li>
                </div>
                {% endfor %}
            </ul>
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="services" class="content">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>Why Compost?</h1>
                <span class="border"></span>
                <p>The United States EPA estimates that as much as 24% of all household waste is compostable. When food scraps are sent to landfills their decomposition process produces methane, a greenhouse gas twenty times more damaging to the o-zone than carbon dioxide. By diverting these food scraps away from land fills and into nutrient rich soil amendments we can help restore soil health, advance the work of local food production, and reduce our ecological footprints.
                </p>
            </div>
            <!--/Section Title -->
            <p>&nbsp;</p>
            <ul class="technology row">
                <div class="col-md-4 text-align-left">
                    <li class="element_fade_in" style="opacity: 1; right: 0px;">
                        <h5>Composting reduces the amount of waste you send to the landfill.</h5>
                        <p>An&nbsp;Environmental Protection Agency report from 2007 estimates that Americans could keep 140 pounds of waste per person per year out of the landfill by composting.&nbsp;&nbsp;</p>
                    </li>
                </div>
                <div class="col-md-4 text-align-left">
                    <li class="element_fade_in" style="opacity: 1; right: 0px;">
                        <h5>Composing turns your waste into a useful product—and it does so without requiring additional resources.</h5>
                        <p>Compare this to recycling, where energy must be used to transport waste to the munipal recycling facility, sort the waste, transport it to the manufacturers, produce new products with it, and then send the finished products back in the other direction—to stores and, ultimately, homes and businesses.</p>
                        <p></p>
                    </li>
                </div>
                <div class="col-md-4 text-align-left">
                <li class="element_fade_in" style="opacity: 1; right: 0px;">
                    <h5>Using compost in your garden reduces the need for water and fertilizers and helps eliminate the need for pesticides.</h5>
                    <p>The reasons, in a nutshell, are that compost improves the soil’s moisture management, regulates the soil’s pH, provides nutrients on a slow-release basis and suppresses certain plant diseases. In addition, it can bind and degrade some pollutants in the plant’s growing environment and help control erosion.</p>
                </li>
                </div>
                <div class="col-md-4 text-align-left">
                    <p></p>
                    <p class="p1"></p>
                    <li class="element_fade_in" style="opacity: 1; right: 0px;"><i class="fa fa-magic"></i>
                        <h5>Composting provides you with a valuable experimental lesson</h5>
                        <p>in the cycles of nature and the folly of our throwaway culture that is likely to lead to other waste-saving measures as time goes by. It’s also a great way to teach environmental stewardship to kids if you get them involved.</p>
                    </li>
                    <p></p>
                    <p class="p1"></p>
                </div>
                <p></p>
                <p class="p1"></p>
                <div class="one_third text-align-left">
                    <p></p>
                    <p class="p3"></p>
                    <li class="element_fade_in" style="opacity: 1; right: 0px;"><i class="fa fa-magic"></i>
                        <h5>How will Rust Belt Riders Composting pick up my compost?</h5>
                        <p>Using custom built trailers we will pick up your five-gallon bucket on bikes at an agreed upon location on your property (front porch, back door, driveway, lobby, etc) and empty your bucket into our trailer. Your bucket will be returned to the agreed upon location empty and ready to be filled up with more food scraps!</p>
                    </li>
                    <p></p>
                    <p class="p3"></p>
                </div>
                <p></p>
                <p class="p3"></p>
                <li class="element_fade_in" style="opacity: 1; right: 0px;"><i class="fa fa-magic"></i>
                    <h5>Will Rust Belt Riders Composting provide waste-removal services for events, farmers, markets, or businesses?</h5>
                    <p>Yes! We can provide our services to you to host an eco-friendly and zero-food waste event. Ample notice will be required and rates are subject to negotiation based on volume of waste and frequency of service.</p>
                </li>
                <p></p>
                <p class="p3"></p>
                <div class="one_third text-align-left"></div>
                <p></p>
                <p class="p3">
                </p>
                <p></p>
            </ul>
            <p>&nbsp;</p>
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!--/Section -->
    <section id="why-a-workers-co-op" class="content" style="background-color:#FFF;">
        <!-- Container -->
        <div class="container ">
            <!-- Section Title -->
            <div class="section-title">
                <h1>Why A Workers’ Co-Op?</h1>
                <span class="border"></span>
                <p>Rust Belt Riders Composting believes in the value of workers across all sectors and our respect for work manifests itself in the belief that all employees ought to share in the success of the company. For us, this takes shape in the form ofworker-ownership. All employees are co-owners, making decisions with one another to best meet the needs of our employees, the community, and the planet.</p>
            </div>
            <!--/Section Title -->
            <dl class="accordion">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for faq in site.categories.faq %}
              {% if faq.faqtype == 'coop' %}
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
                <dt><span class="accordion-status"></span><span>1. Voluntary and Open Membership</span></dt>
                <dd class="accordion-content">Cooperatives are voluntary organizations, open to all able to use its services and willing to accept the responsibilities of membership, with out gender, social, racial, political or religious discrimination.</dd>
                </div>
                <dt><span class="accordion-status"></span><span>2. Democratic Member Control</span></dt>
                <dd class="accordion-content">Cooperatives are democratic organizations controlled by their members—those who buy the goods or use the services of the cooperative—who actively participate in setting policies and making decisions.</dd>
                <dt><span class="accordion-status"></span><span>3. Members' Ecomonic Participation</span></dt>
                <dd class="accordion-content">Members contribute equally to, and democratically control, the capital of the cooperative. The benefits members in proportion to the business they conduct with the cooperative rather than on the capital invested.</dd>
                <dt><span class="accordion-status"></span><span>4. Autonomy and Independence</span></dt>
                <dd class="accordion-content">Cooperatives are autonomous, self-help organizations controlled by their members. If the co-op enters into agreements with other organizations or raises capital from external sources, it is done so based on terms that ensure democratic control by the members and maintains the cooperative’s autonomy.</dd>
                <dt><span class="accordion-status"></span><span>5. Education, Training and Information</span></dt>
                <dd class="accordion-content">Cooperatives provide education and training for members, elected representatives, managers and employees so they can contribute effectively to the development of their cooperative. Members also inform the general public about the nature and benefits of cooperatives.</dd>
                <dt><span class="accordion-status"></span><span>6. Cooperation among Cooperatives</span></dt>
                <dd class="accordion-content">Cooperatives serve their members most effectively and strengthen the cooperative movement by working together through local, national, regional and international structures.</dd>
                <dt><span class="accordion-status"></span><span>7. Concern for Community</span></dt>
                <dd class="accordion-content">While focusing on member needs, cooperatives work for the sustain able development of communities through policies and programs accepted by the members.</dd>

            </div>
        </div>
        <!-- Container -->
    </section>
    <!--/Section -->
    <!-- Parallax Section -->
    <div id="contact" class="parallax" style="background-image: url(http://rustbeltriderscomposting.com/wp-content/uploads/2014/05/Rust-Belt-Riders_Header_Final2.jpg); background-position: 50% 359px;">
        <div class="no-overlay">
            <div class="container ">
              {% include contact.html %}
            </div>
        </div>
    </div>

</div>
