<footer>
    <div class="container no-padding">
        <a id="back-top">
            <div id="menu_top">
                <div id="menu_top_inside"></div>
            </div>
        </a>
        <ul class="socials-icons list-unstyled list-inline">
          {% for social in site.data.config.social %}
            <li>
                <a href="{{social[1]}}">
                    <span class="fa-stack fa-3x">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa fa-{{social[0]}} fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <p class="copyright">© Rust Belt Riders Composting, LLC 2014</p>
    </div>
</footer>
<!--/Footer -->
