<footer>
    <div class="container no-padding">
        <a id="back-top">
            <div id="menu_top">
                <div id="menu_top_inside"></div>
            </div>
        </a>
        <ul class="socials-icons list-unstyled list-inline">
            <li>
                <a href="https://www.facebook.com/RustBeltRidersComposting">
                    <span class="fa-stack fa-3x">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa fa-facebook fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/RustBeltRiders">
                    <span class="fa-stack fa-3x">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa fa-twitter fa-stack-1x"></i>
                    </span>
                </a>
            </li>
            <li>
                <a href="http://instagram.com/rustbeltriders">
                <span class="fa-stack fa-3x">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa fa-instagram fa-stack-1x"></i>
                    </span>
                </a>
            </li>
        </ul>
        <p class="copyright">© Rust Belt Riders Composting, LLC 2014</p>
    </div>
</footer>
<!--/Footer -->
