    <!-- Home Section -->
    <div id="home-page" class="parallax home-section" style="background-image: url('images/background-pattern.jpg');">
        <div class="pattern">
                <div id="home-center" class="element_fade_in" style="opacity: 1; right: 0px;">
                    <div class="div-align-center">
                        <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 0px;">
                                <ul class="text-slide-vertical" style="width: auto; position: relative; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transform: translate3d(0px, 0px, 0px);">
                                    <li style="float: none; list-style: none; position: relative; width: 1714px;" class="bx-clone"></li>
                                    <li style="float: none; list-style: none; position: relative; width: 1714px;"></li>
                                    <li style="float: none; list-style: none; position: relative; width: 1714px;" class="bx-clone"></li>
                                </ul>
                            </div>
                        </div>
                        <p class="light">
                        </p>
                    </div>
                </div>
        </div>
    </div>
