.navbar-default {
  background-color:$light-green;
}

.animation-frame {
  -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
   transition:width 2s, height 2s, background-color 2s, transform 2s;
}

p.oops {
  font-size:150%;
  margin:1.5em 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.sign-up {

  .form-content {
    display:block;
    min-height:200px;
  }
}

#typeForm {
  select {
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    padding:4px;
    background-color:#eee;
  }
}
