//* Navigation Style 1 */



.navbar .nav > li > a {
  text-transform:uppercase;
  font-weight:300;
  font-size:18px;
  color: $dark-green;
  height: 100%;
  line-height: 35px;
  text-shadow: none;
}

.navbar .nav  {
  & > li {
    &.active {
      background-color: darken($white, 20%);
            & > a {
              background: none;
              box-shadow: none;
              color: #626262;
              height: 100%;
              transition: all 0.3s ease-out 0s;
              text-decoration: none;
            }
          }
      & > a:hover,
      & > a:focus {
        background: none;
        box-shadow: none;
        color: #626262;
        height: 100%;
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
      }
    }
}
